*{
    font-family: sans-serif;
    margin:0px;
    padding:0px;
}
body{
    min-height: 1000px;
    background-color: rgb(3, 16, 65);
    color: aliceblue;
}
.content{
    text-align: center;
    margin-left:20%;
}
.icon{
    padding: 10px 0px;
}

.link{
    font-size: 2rem;

}
.active{
    background-color: rgb(82, 13, 230);

}
.navicon{
    padding-top: 3%;
    padding:3% 5% 0%;
    color: aliceblue;
}
.text{
    padding-top: 3%;
    padding-left: 15%;
    text-align: center;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.container{
    padding: 5% 0%;
    width:300px;
    display: flex;
}
.navbari{
    position: fixed;
    height: 100%;
    width: 5%;
    background-color: rgb(14, 1, 42);
}

.iconcontainer{
    color: aliceblue;
    text-align: center;
    padding: 40% 0%;
    
}
.iconcontainerbtn{
    padding: 40% 0%;
    text-align: center;
    
}
.iconcontainerbtn:hover{
    background-color: rgb(82, 13, 230);
    cursor: pointer;
    transition: 0.2s;
    
}


#navbart{
    position: fixed;
    overflow: hidden;
    width: 0%;
    height: 100%;
    margin-left: 5%;
    background-color: rgb(14, 1, 42);
    transition: 0.3s;
}

.text{
    text-align: left;
    font-size: 1.6rem ;
    padding: 14% 0%;
    padding-left: 15%;
    color: white;
}
.logo{
    text-align: center;
    font-size: 1.7rem;
    color: black;
    padding: 70% 0%;
    background-color: aliceblue;
    transition: 0.2s;
}

.logot{
    font-size: 2rem;
    height: 20.9%;
    width: 100%;
    text-align: center;
    color: black;
    background-color: aliceblue;

}
.logotext{
    padding-top: 20%;
    padding-right: 20%;
    padding-left: 0%;
}
